<!DOCTYPE html>
<html>
<head>
	<title>Node world server</title>

	<% if(currentFontFamily[1] != "" ){ %>

		<link href="<%= currentFontFamily[1] %>" rel="stylesheet">

	<% } %>

	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script src="https://kit.fontawesome.com/<%= fontAwesomeKit %>.js" crossorigin="anonymous"></script>
  	<script type="text/javascript" src="js/main.js"></script>
  	<style type="text/css">

  		.ui-widget {

			font-family: <%= currentFontFamily[0] %>;
		}

  	</style>
</head>
<body>
	<div id="functionalities">
  	<ul>
    	<li><a href="#timezones_view"><i class="fa fa-globe fa-1x"></i>&nbsp;<%= __('Timezones_visualization')%></a></li>
    	<li><a href="#github_view"><i class="fa fa-github fa-1x"></i>&nbsp;<%= __('GitHub_visualization')%></a></li>
  	</ul>
  	<div id="timezones_view">
		<div id="forms_displayer">
			<p>
				<form id="choosen_language_form" class="first_node_world_server_form" method="post" action="/" data-toggle="tooltip" data-placement="top">

					<!-- Definition of the form name -->
					<input type="hidden" name="current_form" value="choosen_language_form">

					<!-- Definition of the fields to keep current datas values -->
					<input type="hidden" name="current_date_and_time_format" value="">
					<input type="hidden" name="current_country_code" value="">
					<input type="hidden" name="current_temperature_unit" value="">
					<input type="hidden" name="current_pressure_unit" value="">
					<input type="hidden" name="current_font_family_format" value="">

					<!-- Definition of the form body for the corresponding data: here the language -->
					<%= __('Language_choice')%> :
					<select class="select_menu" id="choosen_language" name="choosen_language" title="<%= __('Language_choice_tooltip')%>">
						<% for(var i = 0; i < selectionnableLanguages.length; i++){ %>
							<option value="<%= selectionnableLanguages[i].value %>" <%= selectionnableLanguages[i].selected %>><%= __(selectionnableLanguages[i].text)%></option>
						<% } %>
					</select>
				</form>
				<form id="choosen_format_form" class="node_world_server_form" method="post" action="/" data-toggle="tooltip" data-placement="top">

					<!-- Definition of the form name -->
					<input type="hidden" name="current_form" value="choosen_format_form">

					<!-- Definition of the fields to keep current datas values -->
					<input type="hidden" name="current_language" value="">
					<input type="hidden" name="current_country_code" value="">
					<input type="hidden" name="current_temperature_unit" value="">
					<input type="hidden" name="current_pressure_unit" value="">
					<input type="hidden" name="current_wind_speed_unit" value="">
					<input type="hidden" name="current_font_family_format" value="">

					<!-- Definition of the form body for the corresponding data: here the date and time format -->
					<%= __('Date_and_time_format_choice')%> :
					<select class="select_menu" id="choosen_date_and_time_format" name="choosen_date_and_time_format" title="<%= __('Date_and_time_format_choice_tooltip')%>">
						<% for(var i = 0; i < formats.length; i++){ %>
							<option value="<%= formats[i].id %>" <%= formats[i].selected %>><%= formats[i].name_format %></option>
						<% } %>
					</select>
				</form>
				<form id="choosen_country_code_form" class="node_world_server_form" method="post" action="/" data-toggle="tooltip" data-placement="top">

					<!-- Definition of the form name -->
					<input type="hidden" name="current_form" value="choosen_country_code_form">

					<!-- Definition of the fields to keep current datas values -->
					<input type="hidden" name="current_language" value="">
					<input type="hidden" name="current_date_and_time_format" value="">
					<input type="hidden" name="current_temperature_unit" value="">
					<input type="hidden" name="current_pressure_unit" value="">
					<input type="hidden" name="current_wind_speed_unit" value="">
					<input type="hidden" name="current_font_family_format" value="">

					<!-- Definition of the form body for the corresponding data: here the country code -->
					<%= __('countrycode_timezone_choice')%> :
					<select class="select_menu" id="choosen_country_code" name="choosen_country_code" title="<%= __('Country_choice_tooltip')%>">
						<% for(var countryCode in countryCodeHashTable){ %>
							<option value="<%= countryCode %>" <%= countryCodeHashTable[countryCode] %>><%= __(countryCode)%> (<%= countryCode %>)</option>
						<% } %>
					</select>
				</form>
				<form id="choosen_temperature_unit_form" class="node_world_server_form" method="post" action="/" data-toggle="tooltip" data-placement="top">

					<!-- Definition of the form name -->
					<input type="hidden" name="current_form" value="choosen_temperature_unit_form">

					<!-- Definition of the fields to keep current datas values -->
					<input type="hidden" name="current_language" value="">
					<input type="hidden" name="current_date_and_time_format" value="">
					<input type="hidden" name="current_country_code" value="">
					<input type="hidden" name="current_pressure_unit" value="">
					<input type="hidden" name="current_wind_speed_unit" value="">
					<input type="hidden" name="current_font_family_format" value="">

					<!-- Definition of the form body for the corresponding data: here the temperature unit -->
					<%= __('temperature_unit_choice')%> :
					<select class="select_menu" id="choosen_temperature_unit" name="choosen_temperature_unit" title="<%= __('Temperature_unit_choice_tooltip')%>">
						<% for(var i = 0; i < selectionnableTemperatureUnits.length; i++){ %>
							<option value="<%= selectionnableTemperatureUnits[i].unit %>" <%= selectionnableTemperatureUnits[i].selected %>><%= selectionnableTemperatureUnits[i].unit %> (<%= selectionnableTemperatureUnits[i].symbol %>)</option>
						<% } %>
					</select>
				</form>
				<form id="choosen_pressure_unit_form" class="node_world_server_form" method="post" action="/" data-toggle="tooltip" data-placement="top">

					<!-- Definition of the form name -->
					<input type="hidden" name="current_form" value="choosen_pressure_unit_form">

					<!-- Definition of the fields to keep current datas values -->
					<input type="hidden" name="current_language" value="">
					<input type="hidden" name="current_date_and_time_format" value="">
					<input type="hidden" name="current_country_code" value="">
					<input type="hidden" name="current_temperature_unit" value="">
					<input type="hidden" name="current_wind_speed_unit" value="">
					<input type="hidden" name="current_font_family_format" value="">

					<!-- Definition of the form body for the corresponding data: here the pressure unit -->
					<%= __('pressure_unit_choice')%> :
					<select class="select_menu" id="choosen_pressure_unit" name="choosen_pressure_unit" title="<%= __('Pressure_unit_choice_tooltip')%>">
						<% for(var i = 0; i < selectionnablePressureUnits.length; i++){ %>
							<option value="<%= selectionnablePressureUnits[i].unit %>" <%= selectionnablePressureUnits[i].selected %>><%= selectionnablePressureUnits[i].unit %> (<%= selectionnablePressureUnits[i].symbol %>)</option>
						<% } %>
					</select>
				</form>
				<form id="choosen_wind_speed_unit_form" class="node_world_server_form" data-toggle="tooltip" data-placement="top">

					<!-- Definition of the form name -->
					<input type="hidden" name="current_form" value="choosen_wind_speed_unit_form">

					<!-- Definition of the fields to keep current datas values -->
					<input type="hidden" name="current_language" value="">
					<input type="hidden" name="current_date_and_time_format" value="">
					<input type="hidden" name="current_country_code" value="">
					<input type="hidden" name="current_temperature_unit" value="">
					<input type="hidden" name="current_pressure_unit" value="">
					<input type="hidden" name="current_font_family_format" value="">

					<!-- Definition of the form body for the corresponding data: here the wind speed unit -->
					<%= __('wind_speed_unit_choice')%> :
					<select class="select_menu" id="choosen_wind_speed_unit" name="choosen_wind_speed_unit" title="<%= __('Wind_speed_unit_choice_tooltip')%>">
					</select>
				</form>
				<form id="choosen_font_family_form" class="node_world_server_form" method="post" action="/" data-toggle="tooltip" data-placement="top">

					<!-- Definition of the form name -->
					<input type="hidden" name="current_form" value="choosen_font_family_form">

					<!-- Definition of the fields to keep current datas values -->
					<input type="hidden" name="current_language" value="">
					<input type="hidden" name="current_date_and_time_format" value="">
					<input type="hidden" name="current_country_code" value="">
					<input type="hidden" name="current_temperature_unit" value="">
					<input type="hidden" name="current_pressure_unit" value="">
					<input type="hidden" name="current_wind_speed_unit" value="">

					<!-- Definition of the form body for the corresponding data: here the font family -->
					<%= __('font_family_choice')%> :
					<select class="select_menu" id="choosen_font_family_format" name="choosen_font_family_format" title="<%= __('Font_family_choice_tooltip')%>">
						<% for(var i = 0; i < fontFamilies.length; i++){ %>
							<option value="<%= fontFamilies[i].id %>" <%= fontFamilies[i].selected %>><%= fontFamilies[i].font %></option>
						<% } %>
					</select>
				</form>
				<h1><%= __('Hello')%></h1>
			</p>
		</div>
		<div id="timezones_displayer">
			<% for(var i = 0; i < timezones.length; i++){ %>
				<h3 style="color: <%= timezones[i].color %>"><%= timezones[i].timezone %> (<%= __(timezones[i].country_code)%>, <%= timezones[i].country_code %>): <%= timezones[i].moment.format(currentDateAndTimeFormat) %></h3>
				<div>
						<% if(weatherResults[i].cod === 200) { %>

							<div>
								<div class="main_image_displayer">
									<div class="weather_image_displayer">
										<img src="<%= weatherResults[i].weather_icon %>" alt="weather illustration">
									</div>
									<div id="displaying_flag_div">

										<% if(isAvailableFlag === true) { %>
											<img src="<%= currentCountryFlagURL %>" alt="location's flag">
										<% } else { %>
											<p><%= __('Flag_not_available')%></p>
										<% } %>

									</div>
								</div>
								<div class="weather_tab" id="gm_tab">
									<table>
										<tbody>
											<tr>
									        	<td><%= __('Description')%>: <%= __(weatherResults[i].weather_description)%></td>
									        </tr>
									        <tr>
									        	<td><%= __('Localisation')%>: (<%= weatherResults[i].longitude %>, <%= weatherResults[i].latitude %>)</td>
									        </tr>
									        <tr>
									        	<td><%= __('Country')%>: <%= weatherResults[i].sys_country %></td>
									        </tr>
									        <tr>
												<td><%= __('Sunrise')%>: <%= weatherResults[i].sys_sunrise %></td>
											</tr>
											<tr>
										        <td><%= __('Sunset')%>: <%= weatherResults[i].sys_sunset %></td>
										    </tr>
									    </tbody>
									</table>
								</div>
								<div class="weather_tab" id="tp_tab">
									<table>
										<tbody>
											<tr>
												<td><%= __('Pressure')%> (<%= currentPressureUnitSymbol %>): <%= weatherResults[i].main_pressure %></td>
											</tr>
									        <tr>
									            <td><%= __('Temperature')%> (<%= currentTemperatureUnitSymbol %>): <%= weatherResults[i].main_temp %></td>
									        </tr>
									        <tr>
									        	<td><%= __('Maximum_temperature')%> (<%= currentTemperatureUnitSymbol %>): <%= weatherResults[i].main_temp_max %></td>
									        </tr>
									        <tr>
									            <td><%= __('Minimum_temperature')%> (<%= currentTemperatureUnitSymbol %>): <%= weatherResults[i].main_temp_min %></td>
									        </tr>
									        <tr>
									        	<td><%= __('Feeling_like_temperature')%> (<%= currentTemperatureUnitSymbol %>): <%= weatherResults[i].main_feels_like %></td>
									        </tr>
									    </tbody>
									</table>
								</div>
								<div class="weather_tab" id="ot_tab">
									<table>
										<tbody>
											<tr>
												<td><%= __('Clouds')%>: <%= weatherResults[i].clouds_all %></td>
											</tr>
									        <tr>
									            <td><%= __('Wind_speed')%> (<%= currentWindSpeedUnitSymbol %>): <%= weatherResults[i].wind_speed %></td>
									        </tr>
									        <tr>
									        	<td><%= __('Wind_deg')%>: <%= weatherResults[i].wind_deg %></td>
									        </tr>
											<% if(weatherResults[i].utc_offset > 0) { %>
												<tr>
													<td><%= __('Offset_from_UTC')%>: <%= weatherResults[i].timezone %> <%= __('Seconds')%> (UTC+<%= weatherResults[i].utc_offset %>)</td>
												</tr>
											<% } else if(weatherResults[i].utc_offset < 0) { %>
												<tr>
													<td><%= __('Offset_from_UTC')%>: <%= weatherResults[i].timezone %> <%= __('Seconds')%> (UTC<%= weatherResults[i].utc_offset %>)</td>
												</tr>
											<% } else { %>
												<tr>
													<td><%= __('Offset_from_UTC')%>: <%= weatherResults[i].timezone %> <%= __('Seconds')%> (UTC±00:00)</td>
												</tr>
											<% } %>
									        <tr>
									        	<td><%= __('Humidity')%> (%): <%= weatherResults[i].main_humidity %></td>
									        </tr>
									    </tbody>
									</table>
								</div>
								<div class="weather_tab" id="uv_tab">
									<table>
										<tbody>
											<tr>
												<td><%= __('UV_index')%>: <%= weatherResults[i].uv_value %></td>
											</tr>
											<tr>
												<td><%= __('UV_risk')%>: <%= __(weatherResults[i].uv_risk)%></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						<% } else { %>

							<% if(weatherResults[i].message === "city not found"){ %>

								<div>
									<div class="main_image_displayer">
										<div class="weather_image_displayer error_image_displayer">
											<img src="images/image.png" alt="weather illustration" width="60" height="60">
										</div>
										<div id="displaying_flag_div">

											<% if(isAvailableFlag === true) { %>
												<img src="<%= currentCountryFlagURL %>" alt="location's flag">
											<% } else { %>
												<p><%= __('Flag_not_available')%></p>
											<% } %>

										</div>
									</div>
									<div class="error_div">
										<%= __('City_not_found')%>
									</div>
								</div>

							<% } else if(weatherResults[i].message === "Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.") { %>

								<div>
									<div class="error_image_displayer main_image_displayer">
										<div class="weather_image_displayer error_image_displayer">
											<img src="images/image.png" alt="weather illustration" width="60" height="60">
										</div>
										<div id="displaying_flag_div">

											<% if(isAvailableFlag === true) { %>
												<img src="<%= currentCountryFlagURL %>" alt="location's flag">
											<% } else { %>
												<p><%= __('Flag_not_available')%></p>
											<% } %>
											
										</div>
									</div>
									<div class="error_div">
										<%= __('Invalid_api_key')%>
									</div>
								</div>

							<% } %>

						<% } %>
				</div>
			<% } %>
		</div>
  </div>
  <div id="github_view">
  	<p>
  		<form id="second_choosen_language_form" method="post" action="/" data-toggle="tooltip" data-placement="top">
					<input type="hidden" name="current_form" value="choosen_language_form">
					<%= __('Language_choice')%> :
					<select class="select_menu" id="second_choosen_language" name="choosen_language" title="<%= __('Language_choice_tooltip')%>">
						<% for(var i = 0; i < selectionnableLanguages.length; i++){ %>
							<option value="<%= selectionnableLanguages[i].value %>" <%= selectionnableLanguages[i].selected %>><%= __(selectionnableLanguages[i].text)%></option>
						<% } %>
					</select>
		</form>
  		<h1><%= __('Hello')%></h1>
  	</p>
    <p>
    	<%= __('Ragnarok')%>
    </p>
  </div>
</div>
	<footer>
	
		<!-- Link to access my GitHub profile -->
		<a class="navbar-brand link_in_contact_me github_icon_on_feets" href="https://github.com/Vicken-Ghoubiguian/node_world_server" target="_blank" data-toggle="tooltip" data-placement="top" title="See this app on GitHub">
			<i class="fab fa-github fa-2x github-feetbar foot-link"></i>
		</a>
								
		<!-- Link to access my Docker Hub profile -->
		<a class="navbar-brand link_in_contact_me docker_icon_on_feets" href="https://hub.docker.com/r/wicken/node_world_server" target="_blank" data-toggle="tooltip" data-placement="top" title="See this app on Docker Hub">
			<i class="fab fa-docker fa-2x docker-feetbar foot-link"></i>
		</a>

	</footer>
</body>
</html>
