<!DOCTYPE html>
<html>
<head>
	<title>Node world server</title>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
  <div>
	<p>
		<form id="choosen_language_form" method="post" action="/">
			<input type="hidden" name="current_form" value="choosen_language_form">
  			<%= __('Language_choice')%> :
  			<select id="choosen_language" name="choosen_language">
				<% for(var i = 0; i < selectionnableLanguages.length; i++){ %>
					<option value="<%= selectionnableLanguages[i].value %>" <%= selectionnableLanguages[i].selected %>><%= __(selectionnableLanguages[i].text)%></option>
				<% } %>
  			</select>
		</form>
		<form id="choosen_format_form" method="post" action="/">
			<input type="hidden" name="current_form" value="choosen_format_form">
			<%= __('Date_and_time_format_choice')%> :
			<select id="choosen_date_and_time_format" name="choosen_date_and_time_format">
				<% for(var i = 0; i < formats.length; i++){ %>
					<option value="<%= formats[i].format %>" <%= formats[i].selected %>><%= formats[i].format %></option>
				<% } %>
			</select>
		</form>
  		<h1><%= __('Hello')%></h1>
  	</p>
  </div>
  <div>
	<% for(var i = 0; i < timezones.length; i++){ %>
		<p style="color: <%= timezones[i].color %>"><%= timezones[i].timezone %> (<%= timezones[i].country_code %>): <%= timezones[i].moment.format(currentDateAndTimeFormat) %></p>
	<% } %>
  </div>
  <script>
	$("#choosen_language").change(function(){

		$("#choosen_language_form").submit();
	});

	$("#choosen_date_and_time_format").change(function(){

		$("#choosen_format_form").submit();
	});
  </script>
</body>
</html>
